* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: $backgroundColor;
  font-family: 'Bubblegum Sans';
}

// === Transition ===
.page-enter-active,
.page-leave-active {
  transition: all 0.4s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}