* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: $backgroundColor;
  font-family: 'Bubblegum Sans';
  font-size: 1.3rem;
  line-height: 2.5rem;
}

code {
  background-color: lightgray;
  border: 1px solid gray;
  border-radius: 5px;;
  padding: 5px;
}

pre {
  background-color: #333;
  border-radius: 5px;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.8rem;
  line-height: 1rem;
  padding: 8px;
  /* white-space setting wraps long sentences */
  white-space: pre-wrap;
}

p {
  margin: 15px 0px;
}

// === Transition ===
.page-enter-active,
.page-leave-active {
  transition: all 0.4s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}

// === Button ===
button {
  border: none;
  border-radius: 5px;
  background-color: green;
  box-shadow: 2px 2px 5px gray;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  margin: 5px;
  padding: 8px;
}

button:hover {
  background-color: palegreen;
  color: darkgreen;
}